server {
    listen 80;
    server_name {{ server_public_ip }};  # Replace with your IP address or hostname

    location / {
        proxy_pass http://{{ gunicorn_host }}:{{ gunicorn_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
